.none {
	display: none !important;
}

.block {
	display: block !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.btn-active {
	color: var(--active-color);
}

.burger-active {
	left: 0 !important;
}

.title-two {
	font-size: 48px;
	line-height: 59px;
}

@include sm {
	.title-two {
		font-size: 24px;
		line-height: 29px;
	}
}