:root {
	--container-width: 1920px;
	--container-padding: 75px;

	--font-main: 'Montserrat', sans-serif;

	--page-bg: #fff;
	--text-color: #000;
	--grey-color: #CACACA;
	--accent: #FF9900;
	--active-color: #E1670E;
}

